



#root,
#----e {
   --ion-font-family : 'Open Sans', 'Droid Sans', 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif ;  
   font-family: var(--ion-font-family ); 
}

#root,
ion-title , 
ion-page , div.ion-page ,
ion-label ,
ion-button ,
ion-tab-button ,
#-----e {
   font-weight: bold ;
}





