



/* @font-face {
   src: local('Open Sans'), local('Segoe UI'), local('Segoe UI Bold') ;
   font-family: ESS ;
   font-weight: 100 900;
} */

#root,
#----e {
   --ion-font-family : 'ESS', 'Segoe UI', 'Source Sans', 'Source Sans Pro', Tahoma, Verdana, Geneva, 'Droid Sans', 'Nimbus Sans', sans-serif ;  
   font-family: var(--ion-font-family ); 
}

#root,
ion-title , 
ion-page , div.ion-page ,
ion-label ,
ion-button ,
ion-tab-button ,
#-----e {
   font-weight: bold ;
}





