.container {
  text-align: center;
  position: relative;
  inset-inline: 0; /* 'left', 'right' */
  block-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.container > * {
  flex: 0 0 auto ;
} /*  */
.container {
  flex-direction: row;
  flex-wrap: wrap;
} /*  */
.container > * {
  flex: 0 0 100% ;
} /*  */

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}